name: C++ Build Test

on: 
  push:
  workflow_dispatch:

jobs:
  build-cpp:
    name: Build C++ Application
    runs-on: ubuntu-latest
    
    steps:
    # Шаг 1: Получить код из репозитория
    - name: Checkout repository
      uses: actions/checkout@v4
      
    # Шаг 2: Установить компилятор
    - name: Install C++ compiler
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ make
        g++ --version
        
    # Шаг 3: Компиляция
    - name: Compile source files
      run: |
        echo "Компилируем файлы..."
        g++ -c math_operations.cpp -o math_operations.o
        g++ -c main.cpp -o main.o
        g++ -c test_math_operations.cpp -o test_math_operations.o
        g++ math_operations.o main.o -o myapp
        g++ math_operations.o test_math_operations.o -o mytest
        ls -la
        
    # Шаг 4: Запуск тестов
    - name: Run tests
      run: |
        echo "Запускаем приложение:"
        ./mytest
        
    # Шаг 5: Запуск приложения
    - name: Run application
      run: |
        echo "Запускаем приложение:"
        ./myapp
